<app-sabw-caesar></app-sabw-caesar>

<h1><u>MiBaLa</u></h1> <h2>Einige Fakten zum MiBaLa</h2>
<ul>
 <li>Märklin System, allerdings kommen auch Züge von anderen Herstellern zum Einsatz</li>
 <li>Vollautomatisch gesteuert mit einer Intellibox II, Traincontroller 9 Silver von Freiwald und mit Dekodern von <a   href="https://www.ldt-infocenter.com/">Littfinski</a> und <a href="https://www.digikeijs.com/de/">Digikeijs</a></li>
 <li>80 Meter Gleise</li>
   <li>20 Züge</li>
   <li>25 Weichen</li>
   </ul>
   <a href="https://www.pmw-winnenden.de/">PMW-Winnenden</a>


   <app-fermat-test></app-fermat-test>

   