

#scheibegross{
   width: 350px;
  position: 
  absolute;
}

#scheibeklein{
  /*border: 1px solid black;*/

  transform: rotate(-41.538461538461538461538461deg);
   width: 350px;
   position: 
   absolute;
}


#container{
  height: 400px;
}