

#scheibegross{
   width: 350px;
  position: 
  absolute;
}

#scheibeklein{
  /*border: 1px solid black;*/
  /*transform: rotate(-41.53846153846153846153846*/
  
   width: 350px;
   position: 
   absolute;
}


#container{
  height: 400px;
}